body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

#dropzone {
    width: 300px;
    height: 300px;
    border: 2px dashed #6c757d;
    margin: 20px auto;
    display: grid; 
    justify-items: center; 
    align-items: center; 
    position: relative;
    overflow: hidden;
}

#uploadImage {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: none;
}

#dropzone p {
    text-align: center;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    color: white;
}

#predictButton {
    background-color: #007bff;
}

#resetButton {
    background-color: #dc3545;
}

#predictionDisplay {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    text-align: center;
}

#submitCorrection {
    background-color: green;
}

#loadingIcon {
    display: none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#fileInput {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}
